accelerate==1.8.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
blis==1.2.0
branca==0.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
comtypes==1.4.11
contourpy==1.3.0
cycler==0.12.1
deepmultilingualpunctuation==1.0.1
defusedxml==0.7.1
diffusers==0.33.1
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
exceptiongroup==1.3.0
filelock==3.18.0
Flask==3.1.1
folium==0.20.0
fonttools==4.58.4
frozenlist==1.7.0
fsspec==2025.5.1
geographiclib==2.0
geoip2==5.1.0
geopy==2.4.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.33.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipwhois==1.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
Js2Py==0.74
kiwisolver==1.4.7
lazy_loader==0.4
lxml==6.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
maxminddb==2.7.0
mpmath==1.3.0
multidict==6.6.3
networkx==3.2.1
nltk==3.9.1
numpy==2.0.2
openai==0.28.0
opencv-python==4.11.0.86
packaging==25.0
pillow==11.2.1
pipwin==0.5.2
propcache==0.3.2
psutil==7.0.0
PyAudio==0.2.14
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pyjsparser==2.7.1
pyparsing==3.2.3
pypiwin32==223
PyPrind==2.11.3
pyshark==0.6
pySmartDL==1.3.4
python-dateutil==2.9.0.post0
pyttsx3==2.98
PyWavelets==1.6.0
pywin32==310
PyYAML==6.0.2
regex==2024.11.6
reportlab==4.4.3
requests==2.32.4
safetensors==0.5.3
scapy==2.6.1
scikit-image==0.24.0
scipy==1.13.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SpeechRecognition==3.14.3
sympy==1.14.0
termcolor==3.1.0
tifffile==2024.8.30
tokenizers==0.21.1
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.52.4
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
Werkzeug==3.1.3
xyzservices==2025.4.0
yarl==1.20.1
zipp==3.23.0
